.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

.sound {
  /* width: 30.942% !important; */
  /* max-width: 33.3333% !important; */
  min-width: 345px;
  min-height: 300px;
  height: 380px !important;
  flex: none !important;
}

.iframe-yt-div {
  height: 210px !important;
}

.transparent {
  opacity: 0%;
}

.rbt {
  display: flex;
}

.btn-close {
  margin-top: 5px;
}

.rbt-close-content {
  opacity: 0%;
}


.musicImage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 210px;
}

.volume {
  display: inline-flex;
}

i {
  font-size: x-large;
  display: inline-flex;
  margin-right: 10px;
  margin-left: 10px;
}

.musicImage img {
  object-fit: cover;
  width: 100%;
}

.iframe-yt {
  /* height: 0px !important; */
  /* opacity: 0; */
  height: 210px;
  /* height: 100%; */
  width: 100%;
  min-width: 260px;
  /*min-height: 146px;*/
}